#bucket{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    gap: 30px;
    margin: auto;
}
#bucket>div{
    border: 1px solid black;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5%;
}
#bucket>div>img{
    height: 150px;
    width: 200px;
}
#bucket>div>button{
    cursor: pointer;
    background: rgb(18, 15, 15);
    color: white;
    height: 40px;
    width: 100px;
    border: 0;
    border-radius: 5px;
}
#confirm_checkout{
    margin-top: 50px;
}